@*
    A renderização do Sidebar foi movida para o componente React 'Sidebar.jsx',
    que é gerenciado pela aplicação principal em 'Main.jsx'.
*@

@* <aside>
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Logo -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/home">
            <div class="sidebar-brand-icon">
                <i>
                    <img src="/favicon.ico" alt="Logo" style="width: 45px; height: 45px;" />
                </i>
            </div>
            <div class="sidebar-brand-text mx-3">Financeiro</div>
        </a>

        <hr class="sidebar-divider my-0" />

        <!-- Item de menu -->
        <li class="nav-item">
            <a class="nav-link" href="/home">
                <i class="fas fa-fw fa-home fa-flip"></i>
                <span>Início</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider" />

        <div class="sidebar-heading">
            Cadastros
        </div>

        <li class="nav-item">
            <a class="nav-link" asp-controller="Pessoas" asp-action="Index">
                <i class="fa-solid fa-person fa-spin"></i>
                <span>Pessoas</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="PlanoContas" asp-action="Index">
                <i class="fa-solid fa-file-invoice fa-beat-fade"></i>
                <span>Plano de Contas</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Contas" asp-action="Index">
                <i class="fa-solid fa-building-columns fa-flip"></i>
                <span>Contas</span>
            </a>
        </li>

        <hr class="sidebar-divider" />

        <div class="sidebar-heading">
            Operações
        </div>

        <li class="nav-item">
            <a class="nav-link" asp-controller="Lancamentos" asp-action="Index">
                <i class="fa-solid fa-coins fa-beat"></i>
                <span>Lançamento</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block" />

        <!-- Toggle Sidebar -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
</aside> *@