@model FinanceiroApp.Models.PessoaModel

@{
    ViewData["Title"] = "Excluir Pessoa";
}

<div id="pessoa-delete-root" data-id="@Model.Id"></div>

@section Scripts {
    <script src="~/js/dist/PessoaDelete.bundle.js"></script>
}