@model PessoaModel

@{
    ViewData["Title"] = "Editar Pessoa";
}

<form asp-action="EditPessoa" method="post">
    <input type="hidden" asp-for="Tipo" id="tipoPessoaHidden" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div id="camposPessoaJuridica">
        <div class="row mb-3">
            <div class="col md-2">
                <label asp-for="RazaoSocial" class="control-label">Razão Social</label>
                <input asp-for="RazaoSocial" class="input" />
                <span asp-validation-for="RazaoSocial" class="text-danger"></span>
            </div>

            <div class="col md-2">
                <label asp-for="NomeFantasia" class="control-label">Nome Fantasia</label>
                <input asp-for="NomeFantasia" class="input" id="NomeFantasia" />
                <span asp-validation-for="NomeFantasia" class="text-danger"></span>
            </div>

            <div class="col md-2">
                <label asp-for="Cnpj" class="control-label">CNPJ</label>
                <input asp-for="Cnpj" class="input" id="Cnpj" />
                <span asp-validation-for="Cnpj" class="text-danger"></span>
            </div>

            <div class="col md-2">
                <label asp-for="InscricaoEstadual" class="control-label">Inscrição Estadual</label>
                <input asp-for="InscricaoEstadual" class="input" id="InscricaoEstadual" />
                <span asp-validation-for="InscricaoEstadual" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div id="camposPessoaFisica">
        <div class="row mb-3">
            <div class="col md-3">
                <label asp-for="Nome" class="control-label">Nome</label>
                <input asp-for="Nome" class="input" id="Nome" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="col md-3">
                <label asp-for="Cpf" class="control-label">CPF</label>
                <input asp-for="Cpf" class="input" id="Cpf" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>

            <div class="col md-3">
                <label asp-for="Rg" class="control-label">RG</label>
                <input asp-for="Rg" class="input" id="Rg" />
                <span asp-validation-for="Rg" class="text-danger"></span>
            </div>


            <div class="col md-3">
                <label asp-for="DataNascimento" class="control-label">Data Nascimento</label>
                <input asp-for="DataNascimento" class="input" type="date" id="DataNascimento" />
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col md-3">
            <label asp-for="Telefone" class="control-label">Telefone</label>
            <input asp-for="Telefone" class="input" id="Telefone" />
            <span asp-validation-for="Telefone" class="text-danger"></span>
        </div>


        <div class="col md-3">
            <label asp-for="Email" class="control-label">E-mail</label>
            <input asp-for="Email" class="input" type="email" id="Email"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="col md-3">
            <label asp-for="Cep" class="control-label">CEP</label>
            <input asp-for="Cep" class="input" id="Cep" />
            <span asp-validation-for="Cep" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col md-4">
            <label asp-for="Endereco" class="control-label">Rua</label>
            <input asp-for="Endereco" class="input" id="Endereco" />
            <span asp-validation-for="Endereco" class="text-danger"></span>
        </div>

        <div class="col md-4">
            <label asp-for="Numero" class="control-label">Número</label>
            <input asp-for="Numero" class="input" id="Numero" />
            <span asp-validation-for="Numero" class="text-danger"></span>
        </div>

        <div class="col md-4">
            <label asp-for="Bairro" class="control-label">Bairro</label>
            <input asp-for="Bairro" class="input" id="Bairro" />
            <span asp-validation-for="Bairro" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col md-4">
            <label asp-for="Cidade" class="control-label">Cidade</label>
            <input asp-for="Cidade" class="input" id="Cidade" />
            <span asp-validation-for="Cidade" class="text-danger"></span>
        </div>
        <div class="col md-4">
            <label asp-for="Estado" class="control-label">Estado</label>
            <input asp-for="Estado" class="input" id="Estado" />
            <span asp-validation-for="Estado" class="text-danger"></span>
        </div>
        <div class="col md-4">
            <label asp-for="Complemento" class="control-label">Complemento</label>
            <input asp-for="Complemento" class="input" id="Complemento" />
            <span asp-validation-for="Complemento" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Salvar" class="btn btn-success" />
        <a asp-action="Index" class="btn btn-secondary">Voltar</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/dist/vendors.bundle.js"></script>
    <script src="~/js/dist/Notificacao.bundle.js"></script>

    <script>
        $(document).ready(function () {
            function exibirCamposTipoPessoa() {
                const tipo = $('#tipoPessoaHidden').val();

                if (tipo === 'Fisica') {
                    $('#camposPessoaFisica').show();
                    $('#camposPessoaJuridica').hide();
                } else if (tipo === 'Juridica') {
                    $('#camposPessoaFisica').hide();
                    $('#camposPessoaJuridica').show();
                } else {
                    $('#camposPessoaFisica').hide();
                    $('#camposPessoaJuridica').hide();
                }
            }

            exibirCamposTipoPessoa();

        });

    </script>
    <style>
        .loading {
            background-color: #ddeaf869;
            border-color: #6c757d;
        }
    </style>
}