@using FinanceiroApp.Models
@model IEnumerable<PessoaModel>
@{
    ViewData["Title"] = "Pessoas";
}
<!-- Bundle de libs comuns -->
<script src="~/js/dist/vendors.bundle.js"></script>

<div id="pessoa-delete-modal-root"></div>
<div id="pessoas-table-root"></div>

@section Scripts {
    <script src="~/js/dist/PessoaDeleteModal.bundle.js"></script>
    <script src="~/js/dist/PessoasDataGrid.bundle.js"></script>
    <script src="~/js/dist/Notificacao.bundle.js"></script>
}