@model FinanceiroApp.Models.PlanoContasModel
@{
    ViewData["Title"] = "Cadastro de Plano de Contas";
}

<head>
    <link href="~/css/leandro.css" rel="stylesheet" />
</head>

<div id="notificacao_root"></div> 

<form asp-action="CreatePlanoConta" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row justify-content-center mb-3">
        <div class="col-auto text-center">
            <div class="container">
                <div class="tabs">
                    <input type="radio" id="tipoDespesa" name="Tipo" value="Despesa" checked />
                    <label class="tab" for="tipoDespesa">Despesa</label>
                    <input type="radio" id="tipoReceita" name="Tipo" value="Receita" />
                    <label class="tab" for="tipoReceita">Receita</label>
                    <span class="glider"></span>
                </div>
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row mb-3 justify-content-center">
        <div class="col-md-6 d-flex align-items-end gap-3">
            <div class="flex-grow-1">
                <label for="Descricao" class="form-label">Descrição</label>
                <input asp-for="Descricao" class="input" placeholder="Plano de Contas" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div style="min-width: 180px; max-width: 220px;">
                <label for="PlanoContasPaiId" class="form-label">Plano de Contas Pai</label>
                <select asp-for="PlanoContasPaiId" id="planoPaiSelect" class="select2" style="width: 100%;">
                    <option value="">Selecione..</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mb-3">
        <div class="col-md-6">
            <button type="submit" class="btn btn-success">Salvar</button>
            <a asp-action="Index" class="btn btn-secondary ms-2">Voltar</a>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/dist/vendors.bundle.js"></script>
    <script src="~/js/dist/Notificacao.bundle.js"></script>
}
