@model IEnumerable<FinanceiroApp.Models.PlanoContasModel>

@{
    ViewData["Title"] = "Plano de Contas";

}

@await Component.InvokeAsync("PopupMensagem")

<div id="planoConta-table-root"></div>

@section Scripts {
    <script src="~/js/dist/PlanoContaDataGrid.bundle.js"></script>
    </script>
}