@model IEnumerable<FinanceiroApp.Models.PlanoContasModel>

@{ViewData["Title"] = "Plano de Contas";}

<!-- Bundle de libs comuns -->
<script src="~/js/dist/vendors.bundle.js"></script>

<div id="plano-conta-delete-modal-root"></div>
<div id="planoConta-table-root"></div>

@section Scripts {
    <script src="~/js/dist/PlanoContaDeleteModal.bundle.js"></script>
    <script src="~/js/dist/PlanoContaDataGrid.bundle.js"></script>

    <script src="~/js/dist/Notificacao.bundle.js"></script>
}