@{
    ViewData["Title"] = "Login";
}
<script>
    window.GOOGLE_CLIENT_ID = '@ViewData["GoogleClientId"]';
</script>

<div id="login-root"></div>

@section Scripts {
    <script src="~/js/dist/vendors.bundle.js"></script>
    <script src="~/js/dist/Login.bundle.js"></script>
}