.tabs {
  display: flex;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15),
    0 6px 12px 0 rgba(24, 94, 224, 0.15);
  padding: 0.75rem;
  border-radius: 99px;
}

.tabs * {
  z-index: 2;
}

.container input[type='radio'] {
  display: none;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 50px;
  font-size: 1rem;
  color: black;
  font-weight: 500;
  border-radius: 99px;
  cursor: pointer;
  transition: color 0.15s ease-in;
  margin-right: 20px;
}

.container input[type='radio']:checked + label {
  color: #185ee0;
}

.container input[type='radio']:checked + label > .notification {
  background-color: #185ee0;
  color: #fff;
  margin: 0px;
}

.container input[id='tipoDespesa']:checked ~ .glider {
  transform: translateX(0);
}

.container input[id='tipoReceita']:checked ~ .glider {
  transform: translateX(137%);
}
.container input[id='tipoFisica']:checked ~ .glider {
  transform: translateX(0);
}

.container input[id='tipoJuridica']:checked ~ .glider {
  transform: translateX(137%);
}
.container input.radio-1:checked ~ .glider {
  transform: translateX(0);
}

.container input.radio-2:checked ~ .glider {
  transform: translateX(137%);
}

.container input.radio-3:checked ~ .glider {
  transform: translateX(200%);
}

.container input.radio-4:checked ~ .glider {
  transform: translateX(300%);
}

.glider {
  position: absolute;
  display: flex;
  height: 30px;
  width: 50px;
  background-color: #e6eef9;
  z-index: 1;
  border-radius: 99px;
  transition: 0.25s ease-out;
}

@media (max-width: 70px) {
  .tabs {
    transform: scale(0.6);
  }
}

.input {
  width: 100%;
  max-width: 220px;
  height: 45px;
  padding: 12px;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
}

.input:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

.input:active {
  transform: scale(0.95);
}

.input:focus {
  border: 2px solid grey;
}
