@{
    ViewData["Title"] = "Cadastro de Contas";
}

<div id="create-conta-form-root"></div>

@section Scripts {
    <script src="~/js/dist/vendors.bundle.js"></script>
    <script src="~/js/dist/CreateContaForm.bundle.js"></script>
    <script src="~/js/dist/Notificacao.bundle.js"></script>
}
